
				<div class="post-block post-block--image post-block--unread">
	<header class="post-block__header">
		<h2 class="post-block__title">
			<a href="https://techcrunch.com/2022/04/19/everstage-raises-13m-series-a-to-make-sales-commissions-more-transparent/" class="post-block__title__link">
				Everstage raises $13M Series A to make sales commissions more transparent			</a>
		</h2>
		<div class="post-block__meta">
			
<div class="river-byline">
	<time class="river-byline__time" datetime="2022-04-19T23:00:25-07:00">
		Apr 19, 2022	</time>
	<span class="river-byline__authors">
					<a href="https://techcrunch.com/author/catherine-shu/">
				Catherine Shu			</a>
			</span>
</div>
		</div>
	</header>

	<div class="post-block__content">
		For sales reps, commission plans are often complicated and lack transparency, leading to accounting errors and frustration. Everstage, a sales commission platform, solves that, letting sales rep see e	</div>

	<footer class="post-block__footer">
		<figure class="post-block__media">
			<a href="https://techcrunch.com/2022/04/19/everstage-raises-13m-series-a-to-make-sales-commissions-more-transparent/">
									<!-- Attaching the URL params manually so that the URL on the images loaded match exactly with React -->
					<img src="https://techcrunch.com/wp-content/uploads/2022/04/Everstage-Founders_Left_Vivek-Suriyamoorthy-Co-founder-CTO_and_Right_Siva-Rajamani-Co-founder-CEO-vF.png?w=300&amp;h=160&amp;crop=1"/>
								</a>
		</figure>
	</footer>
</div>
<div class="post-block post-block--image post-block--unread">
	<header class="post-block__header">
		<h2 class="post-block__title">
			<a href="https://techcrunch.com/2022/04/19/flutterwave-ceo-addresses-alleged-misconduct-claims-in-email-to-employees/" class="post-block__title__link">
				Flutterwave CEO addresses alleged misconduct claims in email to employees			</a>
		</h2>
		<div class="post-block__meta">
			
<div class="river-byline">
	<time class="river-byline__time" datetime="2022-04-19T22:10:59-07:00">
		Apr 19, 2022	</time>
	<span class="river-byline__authors">
					<a href="https://techcrunch.com/author/tage-kene-okafor/">
				Tage Kene-Okafor			</a>
			</span>
</div>
		</div>
	</header>

	<div class="post-block__content">
		Flutterwave CEO Olugbenga Agboola has, for the first time, addressed financial and personal misconduct claims leveled against him and the company this month, according to an email to employees obtaine	</div>

	<footer class="post-block__footer">
		<figure class="post-block__media">
			<a href="https://techcrunch.com/2022/04/19/flutterwave-ceo-addresses-alleged-misconduct-claims-in-email-to-employees/">
									<!-- Attaching the URL params manually so that the URL on the images loaded match exactly with React -->
					<img src="https://techcrunch.com/wp-content/uploads/2022/04/PhotoPictureResizer_220420_054817334_crop_1848x1534-1024x850-1.jpg?w=300&amp;h=160&amp;crop=1"/>
								</a>
		</figure>
	</footer>
</div>
<div class="post-block post-block--image post-block--unread">
	<header class="post-block__header">
		<h2 class="post-block__title">
			<a href="https://techcrunch.com/2022/04/19/indonesian-audio-content-platform-noice-gets-22m-series-a/" class="post-block__title__link">
				Indonesian audio content platform NOICE gets $22M Series A			</a>
		</h2>
		<div class="post-block__meta">
			
<div class="river-byline">
	<time class="river-byline__time" datetime="2022-04-19T20:53:02-07:00">
		Apr 19, 2022	</time>
	<span class="river-byline__authors">
					<a href="https://techcrunch.com/author/catherine-shu/">
				Catherine Shu			</a>
			</span>
</div>
		</div>
	</header>

	<div class="post-block__content">
		NOICE, an Indonesia audio content startup, has raised $22 million in Series A funding led by Northstar, with participation from returning investors Alpha JWC Go-Ventures and Kinesys. NOICE is differen	</div>

	<footer class="post-block__footer">
		<figure class="post-block__media">
			<a href="https://techcrunch.com/2022/04/19/indonesian-audio-content-platform-noice-gets-22m-series-a/">
									<!-- Attaching the URL params manually so that the URL on the images loaded match exactly with React -->
					<img src="https://techcrunch.com/wp-content/uploads/2022/04/IMAGE-4.jpg?w=300&amp;h=160&amp;crop=1"/>
								</a>
		</figure>
	</footer>
</div>
<div class="post-block post-block--image post-block--unread">
	<header class="post-block__header">
		<h2 class="post-block__title">
			<a href="https://techcrunch.com/2022/04/19/nitecore-battery-usb-c/" class="post-block__title__link">
				A camera battery with a built-in USB-C charger wins today’s ‘I didn’t know I needed this’ prize			</a>
		</h2>
		<div class="post-block__meta">
			
<div class="river-byline">
	<time class="river-byline__time" datetime="2022-04-19T16:18:40-07:00">
		Apr 19, 2022	</time>
	<span class="river-byline__authors">
					<a href="https://techcrunch.com/author/">
				Haje Jan Kamps			</a>
			</span>
</div>
		</div>
	</header>

	<div class="post-block__content">
		I have 600 hundred USB-C chargers everywhere; in my car, next to my bed, in my bathroom, in the garage, in my camera bag. Do you know what I never remember to pack? The battery charger for my camera. 	</div>

	<footer class="post-block__footer">
		<figure class="post-block__media">
			<a href="https://techcrunch.com/2022/04/19/nitecore-battery-usb-c/">
									<!-- Attaching the URL params manually so that the URL on the images loaded match exactly with React -->
					<img src="https://techcrunch.com/wp-content/uploads/2022/04/nitecore-sony.jpg?w=300&amp;h=160&amp;crop=1"/>
								</a>
		</figure>
	</footer>
</div>
<div class="post-block post-block--image post-block--unread">
	<header class="post-block__header">
		<h2 class="post-block__title">
			<a href="https://techcrunch.com/2022/04/19/samsung-is-making-a-pokemon-phone-because-why-not/" class="post-block__title__link">
				Samsung is making a Pokémon phone because why not			</a>
		</h2>
		<div class="post-block__meta">
			
<div class="river-byline">
	<time class="river-byline__time" datetime="2022-04-19T15:40:50-07:00">
		Apr 19, 2022	</time>
	<span class="river-byline__authors">
					<a href="https://techcrunch.com/author/greg-kumparak/">
				Greg Kumparak			</a>
			</span>
</div>
		</div>
	</header>

	<div class="post-block__content">
		Are you looking to buy a folding smart phone? Do you want it to be Pokémon-themed? And do you live in South Korea? If all those stars are aligned just right, do we have some good news for you: Samsun	</div>

	<footer class="post-block__footer">
		<figure class="post-block__media">
			<a href="https://techcrunch.com/2022/04/19/samsung-is-making-a-pokemon-phone-because-why-not/">
									<!-- Attaching the URL params manually so that the URL on the images loaded match exactly with React -->
					<img src="https://techcrunch.com/wp-content/uploads/2022/04/pokemon-z-flip-3.png?w=300&amp;h=160&amp;crop=1"/>
								</a>
		</figure>
	</footer>
</div>
<div class="post-block post-block--image post-block--unread">
	<header class="post-block__header">
		<h2 class="post-block__title">
			<a href="https://techcrunch.com/2022/04/19/netflix-to-charge-global-members-sharing-their-accounts-an-additional-fee-following-tests/" class="post-block__title__link">
				Netflix says it will eventually charge more if you share your account			</a>
		</h2>
		<div class="post-block__meta">
			
<div class="river-byline">
	<time class="river-byline__time" datetime="2022-04-19T15:39:22-07:00">
		Apr 19, 2022	</time>
	<span class="river-byline__authors">
					<a href="https://techcrunch.com/author/sarah-perez/">
				Sarah Perez			</a>
			</span>
</div>
		</div>
	</header>

	<div class="post-block__content">
		In light of Netflix’s concerning subscriber losses, the company announced today during its first-quarter earnings call that it will expand its test that charges members a higher price if they&amp;#8	</div>

	<footer class="post-block__footer">
		<figure class="post-block__media">
			<a href="https://techcrunch.com/2022/04/19/netflix-to-charge-global-members-sharing-their-accounts-an-additional-fee-following-tests/">
									<!-- Attaching the URL params manually so that the URL on the images loaded match exactly with React -->
					<img src="https://techcrunch.com/wp-content/uploads/2019/11/GettyImages-1052818026.jpg?w=300&amp;h=160&amp;crop=1"/>
								</a>
		</figure>
	</footer>
</div>
<div class="post-block post-block--image post-block--unread">
	<header class="post-block__header">
		<h2 class="post-block__title">
			<a href="https://techcrunch.com/2022/04/19/netflix-to-introduce-ad-supporter-plan/" class="post-block__title__link">
				Netflix to introduce ad-supported plans in a major shift			</a>
		</h2>
		<div class="post-block__meta">
			
<div class="river-byline">
	<time class="river-byline__time" datetime="2022-04-19T15:30:58-07:00">
		Apr 19, 2022	</time>
	<span class="river-byline__authors">
					<a href="https://techcrunch.com/author/manish-singh/">
				Manish Singh			</a>
			</span>
</div>
		</div>
	</header>

	<div class="post-block__content">
		Netflix plans to offer cheaper, ad-supported tiers to consumers over the next year or two, the world’s largest on-demand video streaming service said Tuesday, as it looks to boost its subscriber	</div>

	<footer class="post-block__footer">
		<figure class="post-block__media">
			<a href="https://techcrunch.com/2022/04/19/netflix-to-introduce-ad-supporter-plan/">
									<!-- Attaching the URL params manually so that the URL on the images loaded match exactly with React -->
					<img src="https://techcrunch.com/wp-content/uploads/2019/10/GettyImages-1163035564.jpg?w=300&amp;h=160&amp;crop=1"/>
								</a>
		</figure>
	</footer>
</div>
<div class="post-block post-block--image post-block--unread">
	<header class="post-block__header">
		<h2 class="post-block__title">
			<a href="https://techcrunch.com/2022/04/19/daily-crunch-since-december-2021-better-com-has-laid-off-nearly-half-of-its-workforce/" class="post-block__title__link">
				Daily Crunch: Since December 2021, Better.com has laid off nearly half of its workforce			</a>
		</h2>
		<div class="post-block__meta">
			
<div class="river-byline">
	<time class="river-byline__time" datetime="2022-04-19T15:30:38-07:00">
		Apr 19, 2022	</time>
	<span class="river-byline__authors">
					<a href="https://techcrunch.com/author/">
				Haje Jan Kamps			</a>
			</span>
</div>
		</div>
	</header>

	<div class="post-block__content">
		Hello friends and welcome to Daily Crunch, bringing you the most important startup, tech and venture capital news in a single package.	</div>

	<footer class="post-block__footer">
		<figure class="post-block__media">
			<a href="https://techcrunch.com/2022/04/19/daily-crunch-since-december-2021-better-com-has-laid-off-nearly-half-of-its-workforce/">
									<!-- Attaching the URL params manually so that the URL on the images loaded match exactly with React -->
					<img src="https://techcrunch.com/wp-content/uploads/2022/02/vishal-garg-better-com.jpg?w=300&amp;h=160&amp;crop=1"/>
								</a>
		</figure>
	</footer>
</div>
<div class="post-block post-block--image post-block--unread">
	<header class="post-block__header">
		<h2 class="post-block__title">
			<a href="https://techcrunch.com/2022/04/19/lyft-uber-mask-requirement/" class="post-block__title__link">
				Lyft follows Uber’s lead and removes its mask mandate			</a>
		</h2>
		<div class="post-block__meta">
			
<div class="river-byline">
	<time class="river-byline__time" datetime="2022-04-19T15:09:09-07:00">
		Apr 19, 2022	</time>
	<span class="river-byline__authors">
					<a href="https://techcrunch.com/author/amanda-silberling/">
				Amanda Silberling			</a>
			</span>
</div>
		</div>
	</header>

	<div class="post-block__content">
		Despite the ongoing COVID-19 pandemic, face masks are no longer required for Lyft riders and drivers. Yesterday, Florida federal judge Kathryn Kimball Mizelle voided a federal mask mandate on transp	</div>

	<footer class="post-block__footer">
		<figure class="post-block__media">
			<a href="https://techcrunch.com/2022/04/19/lyft-uber-mask-requirement/">
									<!-- Attaching the URL params manually so that the URL on the images loaded match exactly with React -->
					<img src="https://techcrunch.com/wp-content/uploads/2019/11/Lyft-Option-2.jpg?w=300&amp;h=160&amp;crop=1"/>
								</a>
		</figure>
	</footer>
</div>
<div class="post-block post-block--image post-block--unread">
	<header class="post-block__header">
		<h2 class="post-block__title">
			<a href="https://techcrunch.com/2022/04/19/a-30m-fund-backed-by-dozens-of-power-players-aims-to-empower-founders-of-asian-descent/" class="post-block__title__link">
				A $30 million fund backed by dozens of VIPs aims to bolster founders of Asian descent			</a>
		</h2>
		<div class="post-block__meta">
			
<div class="river-byline">
	<time class="river-byline__time" datetime="2022-04-19T14:49:10-07:00">
		Apr 19, 2022	</time>
	<span class="river-byline__authors">
					<a href="https://techcrunch.com/author/connie-loizos/">
				Connie Loizos			</a>
			</span>
</div>
		</div>
	</header>

	<div class="post-block__content">
		Four years ago, a nonprofit collective called Gold House was formed to advance the interests — and safety — of people of Asian and Pacific Islander descent in the U.S. Given the country&amp;#8	</div>

	<footer class="post-block__footer">
		<figure class="post-block__media">
			<a href="https://techcrunch.com/2022/04/19/a-30m-fund-backed-by-dozens-of-power-players-aims-to-empower-founders-of-asian-descent/">
									<!-- Attaching the URL params manually so that the URL on the images loaded match exactly with React -->
					<img src="https://techcrunch.com/wp-content/uploads/2022/04/20211206_GoldRush-Soiree_0379-1.jpg?w=300&amp;h=160&amp;crop=1"/>
								</a>
		</figure>
	</footer>
</div>
<div class="post-block post-block--image post-block--unread">
	<header class="post-block__header">
		<h2 class="post-block__title">
			<a href="https://techcrunch.com/2022/04/19/techcrunch-roundup-vc-bottom-feeders-valuation-calculator-think-like-an-investor/" class="post-block__title__link">
				TechCrunch+ roundup: VC ‘bottom feeders,’ valuation calculator, think like an investor			</a>
		</h2>
		<div class="post-block__meta">
			
<div class="river-byline">
	<time class="river-byline__time" datetime="2022-04-19T14:40:45-07:00">
		Apr 19, 2022	</time>
	<span class="river-byline__authors">
					<a href="https://techcrunch.com/author/walter-thompson/">
				Walter Thompson			</a>
					<a href="https://techcrunch.com/author/ram-iyer/">
				Ram Iyer			</a>
			</span>
</div>
		</div>
	</header>

	<div class="post-block__content">
		Farmers don&#39;t get embarrassed when the price of corn drops; similarly, there&#39;s no reason for startup founders to lose their joy because publicly traded tech stocks are undercutting their valuations.	</div>

	<footer class="post-block__footer">
		<figure class="post-block__media">
			<a href="https://techcrunch.com/2022/04/19/techcrunch-roundup-vc-bottom-feeders-valuation-calculator-think-like-an-investor/">
									<!-- Attaching the URL params manually so that the URL on the images loaded match exactly with React -->
					<img src="https://techcrunch.com/wp-content/uploads/2022/04/GettyImages-1207860891.jpg?w=300&amp;h=160&amp;crop=1"/>
								</a>
		</figure>
	</footer>
</div>
<div class="post-block post-block--image post-block--unread">
	<header class="post-block__header">
		<h2 class="post-block__title">
			<a href="https://techcrunch.com/2022/04/19/lyft-doubles-micromobility-footprint-with-pbsc-acquisition/" class="post-block__title__link">
				Lyft doubles micromobility footprint with PBSC acquisition			</a>
		</h2>
		<div class="post-block__meta">
			
<div class="river-byline">
	<time class="river-byline__time" datetime="2022-04-19T14:06:34-07:00">
		Apr 19, 2022	</time>
	<span class="river-byline__authors">
					<a href="https://techcrunch.com/author/rebecca-bellan/">
				Rebecca Bellan			</a>
			</span>
</div>
		</div>
	</header>

	<div class="post-block__content">
		Lyft has signed an agreement to acquire PBSC Urban Solutions, a Canadian supplier for bikeshare equipment in technology, in a move that the company says will double its scale in micromobility. The rid	</div>

	<footer class="post-block__footer">
		<figure class="post-block__media">
			<a href="https://techcrunch.com/2022/04/19/lyft-doubles-micromobility-footprint-with-pbsc-acquisition/">
									<!-- Attaching the URL params manually so that the URL on the images loaded match exactly with React -->
					<img src="https://techcrunch.com/wp-content/uploads/2022/04/pbsc_station_copy.jpeg?w=300&amp;h=160&amp;crop=1"/>
								</a>
		</figure>
	</footer>
</div>
<div class="post-block post-block--image post-block--unread">
	<header class="post-block__header">
		<h2 class="post-block__title">
			<a href="https://techcrunch.com/2022/04/19/netflix-shares-down-more-than-20-after-losing-200000-subscribers-in-first-quarter/" class="post-block__title__link">
				Netflix shares down more than 20% after losing 200,000 subscribers in first quarter			</a>
		</h2>
		<div class="post-block__meta">
			
<div class="river-byline">
	<time class="river-byline__time" datetime="2022-04-19T13:55:21-07:00">
		Apr 19, 2022	</time>
	<span class="river-byline__authors">
					<a href="https://techcrunch.com/author/lauren-forristal/">
				Lauren Forristal			</a>
					<a href="https://techcrunch.com/author/sarah-perez/">
				Sarah Perez			</a>
			</span>
</div>
		</div>
	</header>

	<div class="post-block__content">
		Concerning news from Netflix today. The streaming service reported that in the first quarter of 2022, it lost 200,000 subscribers — its first subscriber loss in over a decade. And its losses are	</div>

	<footer class="post-block__footer">
		<figure class="post-block__media">
			<a href="https://techcrunch.com/2022/04/19/netflix-shares-down-more-than-20-after-losing-200000-subscribers-in-first-quarter/">
									<!-- Attaching the URL params manually so that the URL on the images loaded match exactly with React -->
					<img src="https://techcrunch.com/wp-content/uploads/2020/11/GettyImages-1287315851.jpg?w=300&amp;h=160&amp;crop=1"/>
								</a>
		</figure>
	</footer>
</div>
<div class="post-block post-block--image post-block--unread">
	<header class="post-block__header">
		<h2 class="post-block__title">
			<a href="https://techcrunch.com/2022/04/19/under-intense-activist-investor-pressure-zendesk-could-be-looking-at-possible-sale/" class="post-block__title__link">
				Under intense activist investor pressure, Zendesk could be looking at possible sale			</a>
		</h2>
		<div class="post-block__meta">
			
<div class="river-byline">
	<time class="river-byline__time" datetime="2022-04-19T12:35:04-07:00">
		Apr 19, 2022	</time>
	<span class="river-byline__authors">
					<a href="https://techcrunch.com/author/">
				Ron Miller			</a>
			</span>
</div>
		</div>
	</header>

	<div class="post-block__content">
		It’s been tough times for Zendesk, which has been fending off Jana since the end of last year, when the activist investor began to send the company, which focuses on help desk and ticketing soft	</div>

	<footer class="post-block__footer">
		<figure class="post-block__media">
			<a href="https://techcrunch.com/2022/04/19/under-intense-activist-investor-pressure-zendesk-could-be-looking-at-possible-sale/">
									<!-- Attaching the URL params manually so that the URL on the images loaded match exactly with React -->
					<img src="https://techcrunch.com/wp-content/uploads/2022/04/GettyImages-1082161742.jpg?w=300&amp;h=160&amp;crop=1"/>
								</a>
		</figure>
	</footer>
</div>
<div class="post-block post-block--image post-block--unread">
	<header class="post-block__header">
		<h2 class="post-block__title">
			<a href="https://techcrunch.com/2022/04/19/evok-decarbonization-fund/" class="post-block__title__link">
				Evok Innovations raises a fund to put industrial decarbonization into high gear			</a>
		</h2>
		<div class="post-block__meta">
			
<div class="river-byline">
	<time class="river-byline__time" datetime="2022-04-19T11:48:11-07:00">
		Apr 19, 2022	</time>
	<span class="river-byline__authors">
					<a href="https://techcrunch.com/author/">
				Haje Jan Kamps			</a>
			</span>
</div>
		</div>
	</header>

	<div class="post-block__content">
		Silicon Valley has gotten fantastically efficient at funding apps, SaaS and developer tools. It turns out, though, that climate change cares a lot less about bits, bytes and stored procedures — 	</div>

	<footer class="post-block__footer">
		<figure class="post-block__media">
			<a href="https://techcrunch.com/2022/04/19/evok-decarbonization-fund/">
									<!-- Attaching the URL params manually so that the URL on the images loaded match exactly with React -->
					<img src="https://techcrunch.com/wp-content/uploads/2022/04/image-6.png?w=300&amp;h=160&amp;crop=1"/>
								</a>
		</figure>
	</footer>
</div>
<div class="post-block post-block--image post-block--unread">
	<header class="post-block__header">
		<h2 class="post-block__title">
			<a href="https://techcrunch.com/2022/04/19/disney-glitch-is-causing-missing-episodes-for-fan-favorite-series-company-says-fix-underway/" class="post-block__title__link">
				Disney+ glitch is causing missing episodes for fan-favorite series			</a>
		</h2>
		<div class="post-block__meta">
			
<div class="river-byline">
	<time class="river-byline__time" datetime="2022-04-19T11:36:38-07:00">
		Apr 19, 2022	</time>
	<span class="river-byline__authors">
					<a href="https://techcrunch.com/author/lauren-forristal/">
				Lauren Forristal			</a>
			</span>
</div>
		</div>
	</header>

	<div class="post-block__content">
		Disney has confirmed an issue impacting its Disney+ service that led to missing episodes for a number of popular series on its service, including those from its Disney, Pixar and Marvel properties. Th	</div>

	<footer class="post-block__footer">
		<figure class="post-block__media">
			<a href="https://techcrunch.com/2022/04/19/disney-glitch-is-causing-missing-episodes-for-fan-favorite-series-company-says-fix-underway/">
									<!-- Attaching the URL params manually so that the URL on the images loaded match exactly with React -->
					<img src="https://techcrunch.com/wp-content/uploads/2022/04/oXrjZse7QrnoVz3UF6nzPLXJLav.jpg?w=300&amp;h=160&amp;crop=1"/>
								</a>
		</figure>
	</footer>
</div>
<div class="post-block post-block--image post-block--unread">
	<header class="post-block__header">
		<h2 class="post-block__title">
			<a href="https://techcrunch.com/2022/04/19/salesforce-and-twitter-are-both-lucky-their-purported-20b-deal-failed-in-2016/" class="post-block__title__link">
				Salesforce and Twitter are both lucky their purported $20B deal failed in 2016			</a>
		</h2>
		<div class="post-block__meta">
			
<div class="river-byline">
	<time class="river-byline__time" datetime="2022-04-19T11:30:07-07:00">
		Apr 19, 2022	</time>
	<span class="river-byline__authors">
					<a href="https://techcrunch.com/author/">
				Ron Miller			</a>
			</span>
</div>
		</div>
	</header>

	<div class="post-block__content">
		What if history gone a bit differently and Salesforce had bought Twitter in 2016? We spoke to some analysts who cover the CRM industry to get their thoughts.	</div>

	<footer class="post-block__footer">
		<figure class="post-block__media">
			<a href="https://techcrunch.com/2022/04/19/salesforce-and-twitter-are-both-lucky-their-purported-20b-deal-failed-in-2016/">
									<!-- Attaching the URL params manually so that the URL on the images loaded match exactly with React -->
					<img src="https://techcrunch.com/wp-content/uploads/2022/03/GettyImages-180572501.jpg?w=300&amp;h=160&amp;crop=1"/>
								</a>
		</figure>
	</footer>
</div>
<div class="post-block post-block--image post-block--unread">
	<header class="post-block__header">
		<h2 class="post-block__title">
			<a href="https://techcrunch.com/2022/04/19/oklos-caroline-cochran-and-swells-sulemon-kahn-talk-scaling-alternative-energy-at-tc-sessions-climate/" class="post-block__title__link">
				Oklo’s Caroline Cochran and Swell’s Suleman Kahn talk scaling alternative energy at TC Sessions: Climate			</a>
		</h2>
		<div class="post-block__meta">
			
<div class="river-byline">
	<time class="river-byline__time" datetime="2022-04-19T10:30:51-07:00">
		Apr 19, 2022	</time>
	<span class="river-byline__authors">
					<a href="https://techcrunch.com/author/alexandra-ames/">
				Alexandra Ames			</a>
			</span>
</div>
		</div>
	</header>

	<div class="post-block__content">
		Stopping the dire pace and consequences of climate change requires a diverse range of climate technologies across multiple fronts, and alternative energies play an essential role. However, changing th	</div>

	<footer class="post-block__footer">
		<figure class="post-block__media">
			<a href="https://techcrunch.com/2022/04/19/oklos-caroline-cochran-and-swells-sulemon-kahn-talk-scaling-alternative-energy-at-tc-sessions-climate/">
									<!-- Attaching the URL params manually so that the URL on the images loaded match exactly with React -->
					<img src="https://techcrunch.com/wp-content/uploads/2022/04/suleman_post.png?w=300&amp;h=160&amp;crop=1"/>
								</a>
		</figure>
	</footer>
</div>
<div class="post-block post-block--image post-block--unread">
	<header class="post-block__header">
		<h2 class="post-block__title">
			<a href="https://techcrunch.com/2022/04/19/instagram-removes-recent-tab-hashtag-pages/" class="post-block__title__link">
				Instagram test removes ‘Recent’ tab from hashtag pages for some users			</a>
		</h2>
		<div class="post-block__meta">
			
<div class="river-byline">
	<time class="river-byline__time" datetime="2022-04-19T10:28:06-07:00">
		Apr 19, 2022	</time>
	<span class="river-byline__authors">
					<a href="https://techcrunch.com/author/aisha-malik/">
				Aisha Malik			</a>
			</span>
</div>
		</div>
	</header>

	<div class="post-block__content">
		Instagram is removing the ‘Recent’ tab on hashtag pages for some users as part of a small test, the company announced on Tuesday. Currently, when you select a hashtag, you’re taken t	</div>

	<footer class="post-block__footer">
		<figure class="post-block__media">
			<a href="https://techcrunch.com/2022/04/19/instagram-removes-recent-tab-hashtag-pages/">
									<!-- Attaching the URL params manually so that the URL on the images loaded match exactly with React -->
					<img src="https://techcrunch.com/wp-content/uploads/2022/04/Screen-Shot-2022-04-19-at-1.19.59-PM.png?w=300&amp;h=160&amp;crop=1"/>
								</a>
		</figure>
	</footer>
</div>
<div class="post-block post-block--image post-block--unread">
	<header class="post-block__header">
		<h2 class="post-block__title">
			<a href="https://techcrunch.com/2022/04/19/saas-demo-platform-demostack-raises-34m-to-expand-to-new-markets/" class="post-block__title__link">
				SaaS demo platform Demostack raises $34M to expand to new markets			</a>
		</h2>
		<div class="post-block__meta">
			
<div class="river-byline">
	<time class="river-byline__time" datetime="2022-04-19T10:20:00-07:00">
		Apr 19, 2022	</time>
	<span class="river-byline__authors">
					<a href="https://techcrunch.com/author/kyle-wiggers/">
				Kyle Wiggers			</a>
			</span>
</div>
		</div>
	</header>

	<div class="post-block__content">
		Demostack, a San Francisco, California-based startup creating a “demo experience” platform for software-as-a-service (SaaS) sales teams, today announced that it raised $34 million in a Ser	</div>

	<footer class="post-block__footer">
		<figure class="post-block__media">
			<a href="https://techcrunch.com/2022/04/19/saas-demo-platform-demostack-raises-34m-to-expand-to-new-markets/">
									<!-- Attaching the URL params manually so that the URL on the images loaded match exactly with React -->
					<img src="https://techcrunch.com/wp-content/uploads/2020/09/GettyImages-1187635203-1.jpg?w=300&amp;h=160&amp;crop=1"/>
								</a>
		</figure>
	</footer>
</div>
<a href="https://techcrunch.com/page/2/" class="load-more">
	<span class="gradient-text gradient-text--green-gradient">Load More</span>
</a>
			